$texto:#111111;
$principal:#12AFAF;
$secundario:#009500;
html {
    font-size: 15px;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: $texto;
}
.bienvenidos {
    background: url("../images/fondo-encabezado.jpg") no-repeat center top;
    color: #fff;
    background-size: cover;
    background-attachment: fixed !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encabezado {
    background: $texto;
    color: #fff;
    padding: .5rem 0;
    transition: all .5s ease;
}
.encabezado.fondo-menu {
    background: #064e4e;
    padding: 1rem 0;
}
.encabezado .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.encabezado .logo img {
    width: 120px;
    height: auto;
}
/*Estilos para el boton: buscar y menu*/

.boton-buscar,
.boton-menu {
    border: 0;
    font-size: 2rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
}
.boton-buscar:focus,
.boton-menu:focus {
    outline: 0;
}
.boton-buscar {
    margin-left: auto;
    margin-right: .8rem;
}
/*Estilos bloque buscar*/

#bloque-buscar {
    flex: 1 1 100%;
}
.contenedor-bloque-buscar {
    display: flex;
    height: 3rem;
    margin: 1rem 0;
}
.contenedor-bloque-buscar input[type="text"] {
    border: 0;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    flex: 1 1 auto;
}
.contenedor-bloque-buscar input[type="submit"] {
    flex: 1 1 auto;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: $principal;
    color: #fff;
    flex: 0 1 auto;
    padding: 0 1rem;
}
#menu-principal {
    flex: 1 1 100%;
}
#menu-principal ul {
    padding: 0;
    list-style: none;
    margin: 1rem 0 0 0;
}
#menu-principal ul a {
    display: block;
    padding: .8rem 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #8c8888;
    text-decoration: none;
}
#menu-principal ul a:hover,
#menu-principal ul li.active a {
    color: $principal;
}

.texto-ancabezado{
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.texto-ancabezado .display-4 {
    margin-top: 6rem;
}

.btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: transparent;
    margin-top: 1rem;
    transition: all .5s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: $secundario;
    border-color: transparent;
}

.flecha-bajar a{
    display: inline-block;
    color: #fff;
    font-size: 4rem;
    animation: flecha-animada 2s ease-in-out infinite;
}

@keyframes flecha-animada {
    form{
        transform: translateY(0);
    }
    50%{
        transform: translateY(6px);
    }
    to{
        transform: translateY(0);
    }
}

/*********************************
LA AGENCIA
 */
.agencia {
    background: $principal;
    color: #fff;
}

.agencia img {
    margin: 0 auto;
    display: block;
}

/*********************************
LA AGENCIA
************************************* */
.tu-mejor-eleccion h2 span {
    color: $principal;
}

.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li{
    list-style: none;
}


.tu-mejor-eleccion ul li .fa{
    list-style: none;
    font-size: 2.3rem;
    background: $secundario;
    border-radius: 50%;
    width: 4.7rem;
    height: 4.7rem;
    line-height: 4.7rem;
    color: #fff;
}

.tu-mejor-eleccion ul li .contenedor-eleccion h4{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: .8rem;
}

.tu-mejor-eleccion ul li{
    min-height: 9rem;
}

/*********************************
SECCION SERVICIOS
************************************* */
.servicios {
    background: url("../images/fondo_servicios.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed !important;
    color: #fff;
}

.servicios article {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.servicios img {
    flex: 0 0 60px;
    overflow: hidden;
    margin-right: 1rem;
}

.servicios h3 {
    margin: 0;
    font-size: 1.1rem;
    flex: 1 1 auto;
}

.servicios h3 a{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.servicios h3 a::after{
    content: "\f054";
    font-family: FontAwesome;
    font-size: 2.2rem;
    margin-left: 1rem;
    opacity: .5;
    position: relative;
    left: 0;
    transition: all .5s ease;
}

.servicios h3 a:hover::after{
    left: -0.5rem;
    opacity: 1;
    color: $principal;
}
.servicios article .fa{
    margin-right: 1rem;
    list-style: none;
    font-size: 2.4rem;
    background: $principal;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    align-items: center;
    text-align: center;
    color: #fff;
}

/*********************************
SECCION ULTIMAS PROMOCIONES
************************************* */

.ultimas-promociones a{
    text-decoration: none;
}

.ultimas-promociones a h4{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: $texto;
}

.ultimas-promociones .container{
    padding-left: 0;
    padding-right: 0;
}

.ultimas-promociones .owl-nav{
    display: flex;
    justify-content: center;
    margin: .5rem 0;
}

.ultimas-promociones .owl-next,
.ultimas-promociones .owl-prev{
    font-size: 3rem;
    margin: 0 .5rem;
    color: $principal;
    transition: all .6s ease;
}

.ultimas-promociones .owl-next:hover,
.ultimas-promociones .owl-prev:hover{
    color: $secundario;
}

/*********************************
PIE DE PÁGINA
************************************* */

.piedepagina {
    background: $texto;
    color: #fff;
    text-align: center;
    font-size: .9rem;
}
.piedepagina .redes-sociales {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.piedepagina .redes-sociales a{
    color: #fff;
    font-size: 2rem;
    margin:0 .5rem;
    opacity: .7;
    transition: all .6s ease;
}
.piedepagina .redes-sociales a:hover{
    opacity: 1;
}

.ir-arriba {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: rgb(18,175,175);
    text-decoration: none;
    z-index: 99999;
    line-height: 0;
    transition: all .5s ease;
}

.ir-arriba:hover,
.ir-arriba:focus {
    outline: 0;
    text-decoration: none;
    color: #fff;
}