@charset "UTF-8";
html {
  font-size: 15px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

.bienvenidos {
  background: url("../images/fondo-encabezado.jpg") no-repeat center top;
  color: #fff;
  background-size: cover;
  background-attachment: fixed !important;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.encabezado {
  background: #111111;
  color: #fff;
  padding: .5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.encabezado.fondo-menu {
  background: #064e4e;
  padding: 1rem 0; }

.encabezado .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.encabezado .logo img {
  width: 120px;
  height: auto; }

/*Estilos para el boton: buscar y menu*/
.boton-buscar,
.boton-menu {
  border: 0;
  font-size: 2rem;
  margin: 0;
  padding: 0 .5rem;
  background: transparent;
  color: #fff; }

.boton-buscar:focus,
.boton-menu:focus {
  outline: 0; }

.boton-buscar {
  margin-left: auto;
  margin-right: .8rem; }

/*Estilos bloque buscar*/
#bloque-buscar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

.contenedor-bloque-buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  margin: 1rem 0; }

.contenedor-bloque-buscar input[type="text"] {
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.contenedor-bloque-buscar input[type="submit"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #12AFAF;
  color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 1rem; }

#menu-principal {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%; }

#menu-principal ul {
  padding: 0;
  list-style: none;
  margin: 1rem 0 0 0; }

#menu-principal ul a {
  display: block;
  padding: .8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #8c8888;
  text-decoration: none; }

#menu-principal ul a:hover,
#menu-principal ul li.active a {
  color: #12AFAF; }

.texto-ancabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.texto-ancabezado .display-4 {
  margin-top: 6rem;
  font-family: 'Playball', cursive;
  /*
  font-family: 'Courgette', cursive;
  font-family: 'Playball', cursive;
  font-family: 'Tangerine', cursive;
   */ }

.btn-primary {
  color: #fff;
  background-color: #12AFAF;
  border-color: transparent;
  margin-top: 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #009500;
  border-color: transparent; }

.flecha-bajar a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  -webkit-animation: flecha-animada 2s ease-in-out infinite;
          animation: flecha-animada 2s ease-in-out infinite; }

@-webkit-keyframes flecha-animada {
  form {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes flecha-animada {
  form {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
/*********************************
LA AGENCIA
 */
.agencia {
  background: #12AFAF;
  color: #fff; }

.agencia img {
  margin: 0 auto;
  display: block; }

/*********************************
LA AGENCIA
************************************* */
.tu-mejor-eleccion h2 span {
  color: #12AFAF; }

.tu-mejor-eleccion ul,
.tu-mejor-eleccion ul li {
  list-style: none; }

.tu-mejor-eleccion ul li .fa {
  list-style: none;
  font-size: 2.3rem;
  background: #009500;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  line-height: 4.7rem;
  color: #fff;
  text-align: center; }

.tu-mejor-eleccion ul li .contenedor-eleccion h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .8rem; }

.tu-mejor-eleccion ul li {
  min-height: 9rem; }

/*********************************
SECCION SERVICIOS
************************************* */
.servicios {
  background: url("../images/fondo_servicios3.png") repeat center center;
  background-size: cover;
  background-attachment: fixed !important;
  color: #fff; }

.servicios article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0; }

.servicios img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  overflow: hidden;
  margin-right: 1rem; }

.servicios h3 {
  margin: 0;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.servicios h3 a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none; }

.servicios h3 a::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 2.2rem;
  margin-left: 1rem;
  opacity: .5;
  position: relative;
  left: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.servicios h3 a:hover::after {
  left: -0.5rem;
  opacity: 1;
  color: #12AFAF; }

.servicios article .fa {
  margin-right: 1rem;
  list-style: none;
  font-size: 2.4rem;
  background: #12AFAF;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff; }

/*********************************
SECCION ULTIMAS PROMOCIONES
************************************* */
.ultimas-promociones a {
  text-decoration: none; }

.ultimas-promociones a h4 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #111111; }

.ultimas-promociones .container {
  padding-left: 0;
  padding-right: 0; }

.ultimas-promociones .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .5rem 0; }

.ultimas-promociones .owl-next,
.ultimas-promociones .owl-prev {
  font-size: 3rem;
  margin: 0 .5rem;
  color: #12AFAF;
  -webkit-transition: all .6s ease;
  transition: all .6s ease; }

.ultimas-promociones .owl-next:hover,
.ultimas-promociones .owl-prev:hover {
  color: #009500; }

/*********************************
PIE DE PÁGINA
************************************* */
.piedepagina {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: .9rem; }

.piedepagina .redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; }

.piedepagina .redes-sociales a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
  -webkit-transition: all .6s ease;
  transition: all .6s ease; }

.piedepagina .redes-sociales a:hover {
  opacity: 1; }

.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #12afaf;
  text-decoration: none;
  z-index: 99999;
  line-height: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #fff; }

/*-------------------------------------------
EMPIEZAN LAS MEDIAS QUERIES
------------------------------------------- */
@media (min-width: 768px) {
  #menu-principal {
    display: block;
    height: auto !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  #menu-principal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 0 0; }

  #menu-principal ul li a {
    padding: .8rem;
    text-transform: capitalize;
    margin: 0 .3rem;
    border-top: 0px;
    border-bottom: 4px solid transparent; }

  #menu-principal ul li.active a,
  #menu-principal ul li a:hover {
    color: #12AFAF;
    border-bottom: 4px solid;
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }

  .boton-buscar {
    margin-left: 1rem;
    margin-right: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  #bloque-buscar {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    position: absolute;
    width: 20rem;
    right: 2rem;
    top: 3rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .servicios {
    background: url("../images/fondo_servicios.png") no-repeat center center; }

  .servicios article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

  .servicios article .fa {
    width: 9rem;
    height: 9rem;
    line-height: 9rem;
    font-size: 5rem;
    overflow: hidden;
    margin-right: 0px;
    margin-bottom: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

  .servicios article:hover .fa {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }

  .servicios h3 a::after {
    display: none; }

  .servicios h3 {
    margin: 0 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto; }

  .servicios .btn-secondary {
    margin-top: auto; } }

/*# sourceMappingURL=estilos.css.map */